.panel{
  height: 50%;
  width: 50%;
  min-width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.panel button{
  width: 40%;
  min-width: fit-content;
  max-width: 200px;

  margin: 10px;
  padding: 7px;
}

.panel input{
  
  margin: 10px;
  margin-top: 3px;
  padding: 7px;
  outline: none;

  background-color: var(--item-background-colour);
  border-width: 0px;
  border-radius: 10px;
  border: 1px solid var(--item-border-colour);
}

.panel .inputContainer{
  display: flex;
  flex-direction: column;
}
.inputContainer label{
  margin-left: 10px;
  font-size: 15px;
}


@media only screen and (max-width: 600px) {
  .panel{
      width: 90%;
  }
}